<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sommeke Bonen</title>
</head>
<body>
    <h1>Sommeke Bonen</h1>
    <form>
        <label for="fnr">First number:</label><br>
        <input type="number" id="fnr" name="fnr"><br>
        <label for="snr">second number:</label><br>
        <input type="number" id="snr" name="snr"><br>
        <input type="button" onclick="alert(fnr.valueAsNumber + snr.valueAsNumber)" value="Bereken som"><br>
    </form>
</body>
</html>